version: '3.8'

services:
  app:
    build: .
    ports:
      - "3005:3005"
    environment:
      - DB_URL=jdbc:postgresql://db:5432/${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ACCESS_TOKEN_EXPIRATION=600000
      - JWT_REFRESH_TOKEN_EXPIRATION=900000
      - SERVER_PORT=${SERVER_PORT}
    depends_on:
      - db
    networks:
      - spring-db-network

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spring-db-network

volumes:
  postgres_data:

networks:
  spring-db-network:
    driver: bridge